<header class="text-center">
  <p class="sub-title">CAMPEONATO DE FILMES</p>
  <h1 class="title-fase">Fase de Seleção</h1>
  <div class="traco"></div>
  <p class="info">Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão Gerar Meu Campeonato para prosseguir.</p>
</header>

<section class="mt-4 d-flex justify-content-between">
  <p class="text-white selecionados">Selecionados 0 de 8 filmes</p>
  <button class="btn btn-campeonato" [routerLink]="['/resultado']">GERAR MEU CAMPEONATO</button>
</section>

<section class="row row-cols-1 row-cols-md-4 mt-4">
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <label>
        <input class="c-card" type="checkbox" id="1" value="1">
        <span></span>
        <div class="card-body">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text"><small class="text-muted">2018</small></p>
        </div>
      </label>
    </div>
  </div>

</section>
